* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 32px;
  width: 100%;
}

nav {
  width: 100%;
  padding: 20px 0;
  position: absolute;
  z-index: 1000;
}
nav .travel {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .travel img {
  width: 150px;
}
nav .travel ul {
  display: flex;
  align-items: center;
  gap: 30px;
}
nav .travel ul li {
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  list-style-type: none;
  transition: all 0.5s ease;
}
nav .travel ul li a {
  text-decoration: none;
  color: white;
  transition: all 0.5s ease;
}
nav .travel ul li a:hover {
  border-bottom: 1px solid white;
}
nav .travel i {
  display: none;
  color: white;
  font-size: 35px;
  cursor: pointer;
}

.modal {
  width: 100%;
  height: 100vh;
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgb(154, 201, 202);
}
.modal ul {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}
.modal ul li {
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  list-style-type: none;
}
.modal ul li a {
  text-decoration: none;
  color: white;
}
.modal i {
  position: relative;
  top: 20px;
  right: 20px;
  font-size: 40px;
  cursor: pointer;
  color: white;
}

.sect1 {
  width: 100%;
  padding: 200px 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/background.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.sect1 .head {
  display: flex;
  justify-content: center;
  align-items: center;
}
.sect1 .head .walk {
  width: 55%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}
.sect1 .head .walk p {
  text-align: center;
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  color: white;
}
.sect1 .head .walk h1 {
  text-align: center;
  font-family: "Quicksand", sans-serif;
  font-size: 50px;
  color: white;
}
.sect1 .head .walk button {
  width: 220px;
  height: 60px;
  border: 2px solid white;
  background: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  color: white;
  transition: all 0.5s ease;
  margin-top: 30px;
}
.sect1 .head .walk button:hover {
  background-color: #fcb900;
  border-color: #fcb900;
  cursor: pointer;
}

.sect2 {
  width: 100%;
  padding: 60px 0;
}
.sect2 .tour {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.sect2 .tour .book {
  width: 24%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  margin-top: 50px;
  position: relative;
}
.sect2 .tour .book i {
  position: absolute;
  right: 15px;
  top: 15px;
  font-size: 25px;
  cursor: pointer;
  color: red;
}
.sect2 .tour .book img {
  width: 24%;
}
.sect2 .tour .book h2 {
  text-align: center;
  font-family: "Quicksand", sans-serif;
  font-size: 25px;
}
.sect2 .tour .book p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  color: dimgrey;
  text-align: center;
  line-height: 1.5;
}
.sect2 .tour .book button {
  width: 140px;
  height: 40px;
  border: 1px solid teal;
  background-color: teal;
  color: white;
  font-size: 16px;
  font-family: "Quicksand", sans-serif;
  cursor: pointer;
}

.sect3 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  margin-top: 50px;
}
.sect3 .left {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
  padding-left: 50px;
  padding-right: 50px;
  background-color: #efefef;
}
.sect3 .left h2 {
  font-family: "Quicksand", sans-serif;
  font-size: 30px;
}
.sect3 .left p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  color: dimgrey;
}
.sect3 .right {
  width: 50%;
  height: 100%;
}
.sect3 .right img {
  width: 100%;
  height: 100%;
}

.sect4 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}
.sect4 .city {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
  padding-left: 50px;
  padding-right: 50px;
  background-color: #efefef;
}
.sect4 .city h2 {
  font-family: "Quicksand", sans-serif;
  font-size: 30px;
}
.sect4 .city p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  color: dimgrey;
}
.sect4 .photo {
  width: 50%;
  height: 100%;
}
.sect4 .photo img {
  width: 100%;
  height: 100%;
}

.sect5 {
  width: 100%;
  padding: 100px 0;
}
.sect5 .popular {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}
.sect5 .popular h2 {
  font-family: "Quicksand", sans-serif;
  font-size: 30px;
}
.sect5 .popular p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  color: dimgrey;
  text-align: center;
}
.sect5 .pictures {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 40px;
}
.sect5 .pictures .div {
  width: 23%;
  margin-top: 30px;
}
.sect5 .pictures .div img {
  width: 100%;
}

.sect6 {
  width: 100%;
  padding: 80px 0;
  background-image: url("../images/amsterdam-1.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.sect6 .discover {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.sect6 .discover h2 {
  font-family: "Quicksand", sans-serif;
  font-size: 30px;
  color: white;
  text-align: center;
}
.sect6 .discover p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  color: white;
  text-align: center;
}

.sect7 {
  width: 100%;
  padding: 50px 0;
  background-color: #efefef;
}
.sect7 .news {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sect7 .news .staff {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.sect7 .news .staff h2 {
  font-family: "Quicksand", sans-serif;
  font-size: 30px;
}
.sect7 .news .staff p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  color: dimgrey;
}
.sect7 .news button {
  width: 150px;
  height: 45px;
  background-color: #fcb900;
  border: 1px solid #fcb900;
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  cursor: pointer;
}
.sect7 .clear {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 60px;
}
.sect7 .clear .water {
  width: 32%;
  display: flex;
  flex-direction: column;
}
.sect7 .clear .water .top {
  width: 100%;
  height: 65%;
}
.sect7 .clear .water .top img {
  width: 100%;
  height: 100%;
}
.sect7 .clear .water .bottom {
  width: 100%;
  height: 35%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: white;
}
.sect7 .clear .water .bottom p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  color: dimgrey;
}
.sect7 .clear .water .bottom h2 {
  font-family: "Quicksand", sans-serif;
  font-size: 20px;
}

footer {
  width: 100%;
  padding: 25px 0;
}
footer .foot {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .foot p {
  font-family: "Quicksand", sans-serif;
  font-size: 15px;
  color: dimgrey;
}
footer .foot .icons {
  display: flex;
  align-items: center;
  gap: 30px;
}
footer .foot .icons i {
  color: dimgrey;
  font-size: 15px;
  cursor: pointer;
}

.details {
  width: 100%;
  padding: 180px 0 100px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.details .book {
  width: 24%;
  border: 2px solid teal;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}
.details .book img {
  width: 24%;
}
.details .book h2 {
  text-align: center;
  font-family: "Quicksand", sans-serif;
  font-size: 25px;
}
.details .book p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  color: dimgrey;
  text-align: center;
  line-height: 1.5;
}

.favorites {
  width: 100%;
  padding: 30px 0;
}
.favorites h1 {
  text-align: center;
  font-family: "Quicksand", sans-serif;
  font-size: 40px;
}
.favorites h1 i {
  color: red;
}
.favorites #favorites {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 60px;
}
.favorites #favorites .book {
  width: 24%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  position: relative;
}
.favorites #favorites .book i {
  position: absolute;
  right: 15px;
  top: 15px;
  font-size: 25px;
  cursor: pointer;
  color: red;
}
.favorites #favorites .book img {
  width: 24%;
}
.favorites #favorites .book h2 {
  text-align: center;
  font-family: "Quicksand", sans-serif;
  font-size: 25px;
}
.favorites #favorites .book p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  color: dimgrey;
  text-align: center;
  line-height: 1.5;
}
.favorites #favorites .book button {
  width: 140px;
  height: 40px;
  border: 1px solid teal;
  background-color: teal;
  color: white;
  font-size: 16px;
  font-family: "Quicksand", sans-serif;
  cursor: pointer;
}

.add {
  width: 100%;
  height: 100vh;
  background-color: burlywood;
  display: flex;
  justify-content: center;
  align-items: center;
}
.add form {
  border: 2px solid teal;
  width: 420px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.add form label {
  font-family: "Quicksand", sans-serif;
  font-size: 18px;
  margin-top: 10px;
}
.add form img {
  margin-left: 80px;
  width: 30%;
}
.add form input[type=file]::file-selector-button {
  width: 120px;
  height: 40px;
  background-color: teal;
  border: 1px solid teal;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  color: white;
  cursor: pointer;
}
.add form input[type=submit] {
  width: 150px;
  height: 45px;
  background-color: teal;
  border: 1px solid teal;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  color: white;
  margin-top: 10px;
  margin-left: 100px;
  cursor: pointer;
}
.add form input[type=text] {
  width: 100%;
  height: 40px;
  background-color: white;
  border: 1px solid white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  padding-left: 15px;
}
.add form input[type=text]:focus {
  outline: none;
}

.back {
  position: fixed;
  bottom: 20px;
  left: 20px;
  width: 120px;
  height: 40px;
  font-family: "Quicksand", sans-serif;
  font-size: 13px;
  text-transform: uppercase;
  color: white;
  background-color: teal;
  border: 1px solid teal;
  border-radius: 10px;
  cursor: pointer;
}

@media screen and (max-width: 990px) {
  .container {
    max-width: 800px;
  }
  .sect7 .news button {
    display: none;
  }
  .sect7 .clear {
    flex-wrap: wrap;
  }
  .sect7 .clear .water {
    width: 47%;
    margin-top: 30px;
  }
}
@media screen and (max-width: 768px) {
  .container {
    max-width: 1200px;
  }
  nav .travel ul {
    display: none;
  }
  nav .travel i {
    display: block;
  }
  .sect1 .head .walk h1 {
    font-size: 30px;
  }
  .sect2 .tour .book {
    width: 47%;
    margin-top: 50px;
  }
  .sect3 {
    flex-direction: column;
    height: 200vh;
  }
  .sect3 .left {
    width: 100%;
  }
  .sect3 .right {
    width: 100%;
  }
  .sect4 {
    flex-direction: column;
    height: 200vh;
  }
  .sect4 .photo {
    width: 100%;
  }
  .sect4 .city {
    width: 100%;
  }
  .sect5 .pictures .div {
    width: 47%;
  }
  .sect7 .clear {
    flex-direction: column;
  }
  .sect7 .clear .water {
    width: 100%;
    margin-top: 50px;
  }
  footer .foot {
    flex-direction: column-reverse;
    gap: 20px;
  }
}
@media screen and (max-width: 576px) {
  .sect2 .tour {
    flex-direction: column;
  }
  .sect2 .tour .book {
    width: 100%;
  }
  .sect5 .pictures {
    flex-direction: column;
  }
  .sect5 .pictures .div {
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */